$font-custom: 'Neucha', cursive;
$font-default: 'Open Sans', sans-serif;

// colors
$primary-blue: #2f54eb;
$primary-green: #52c41a;
$primary-red: #f5222d;
$primary-yellow: #d48806;
$primary-font-color: #262626;

$black: #000000;
$white: #ffffff;

$shadow-color: #0308522d;

$blue-1: #f0f5ff;
$blue-2: #d6e4ff;
$blue-3: #adc6ff;
$blue-4: #85a5ff;
$blue-5: #597ef7;
$blue-6: #2f54eb;
$blue-7: #1d39c4;
$blue-8: #10239e;
$blue-9: #061178;
$blue-10: #030852;

$red-1: #fff1f0;
$red-2: #ffccc7;
$red-3: #ffa39e;
$red-4: #ff7875;
$red-5: #ff4d4f;
$red-6: #f5222d;
$red-7: #cf1322;
$red-8: #a8071a;
$red-9: #820014;
$red-10: #5c0011;

$gray-1: #fafafa;
$gray-2: #f5f5f5;
$gray-3: #f0f0f0;
$gray-4: #d9d9d9;
$gray-5: #bfbfbf;
$gray-6: #8c8c8c;
$gray-7: #595959;
$gray-8: #434343;
$gray-9: #262626;
$gray-10: #1f1f1f;
$gray-11: #141414;

// colors social
$bilibili: #73C9E5;
$facebook: #1877f2;
$facebookold: #3b5998;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagrammagenta: #c32aa3;
$instagramblue: #4c5fd7;
$instagrampurple: #7232bd;
$instagramorange: #f46f30;
$instagramyellow: #ffdc7d;
$googleblue: #4285f4;
$googlered: #ea4335; 
$googleyellow: #fbbc05; 
$googlegreen: #34a853;
$pinterest: #bd081c;
$googleplus: #db4437;
$linkedin: #0a66c2;
$vimeoblue: #1ab7ea;
$tumblr: #2c4762;
$snapchat: #fffc00;
$whatsappgreen: #25d366;
$whatsappteal1: #075e54;
$whatsappteal2: #128c7e;
$tiktokblack: #010101; 
$tiktookblue: #69c9d0;
$tiktokpink: #ee1d52; 
$tiktokwhite: #fff; 
$mastodon: #2b90d9;
$apple: #a6b1b7;
$amazon: #ff9900;
$alexablue: #00a7ce;
$alexadkblue: #232f3e;
$microsoftred: #f35022;
$microsoftgreen: #80bb03;
$microsoftblue: #03a5f0;
$microsoftyellow: #ffb903;
$periscope: #40a4c4;
$foursquarepink: #f94877; 
$foursquarenavy: #073282;
$foursquareblue: #2d5be3; 
$yelp: #d32323;
$swarm: #ffa633;
$medium: #02b875;
$skypeblue: #00aff0;
$skypedkblue: #0078d7;
$android: #a4c639;
$stumbleupon: #e94826;
$flickrpink: #f40083;
$flickrblue: #006add;
$yahoo: #430297;
$twitch: #9146ff;
$soundcloud: #ff5500;
$spotifygreen: #1ed760;
$spotifydarkgreen: #1db954;
$dribbble: #ea4c89;
$slackpurple: #4a154b; 
$slackblue: #36c5f0; 
$slackgreen: #2eb67d; 
$slackred: #e01e5a; 
$slackyellow: #ecb22e; 
$reddit: #ff5700;
$deviantart: #05cc47;
$pocket: #ee4056;
$quora: #aa2200;
$quorablue: #2b6dad;
$slideshareorange: #e68523;
$slideshareblue: #00a0dc;
$fivehundredpx: #0099e5;
$vk: #4a76a8;
$listlyorange: #df6d46;
$listlyblue: #52b1b3;
$vine: #00b489;
$steam: #171a21;
$discord: #7289da;
$telegram: #0088cc;
$clarity: #61bed9;
$homeadvisor: #f89000;
$houzz: #4dbc15;
$angieslist: #29a036;
$glassdoor: #0caa41;